.selected {
  background: rgba(0, 0, 0, 0.05) !important;
}

.turn.wrapper {
  padding: 0 !important;
  cursor: pointer;
}

.time {
  margin: 0;
  text-align: right;
}

.ewt {
  margin: 1em 0 0 0 !important;
  background: #ec6550 !important;
  color: rgb(242, 242, 242) !important;
}

.company {
  margin-bottom: 0;
}

.reject {
  background: rgb(228, 58, 58) !important;
}

.prepare {
}

.unprepare {
  background: rgb(228, 58, 58) !important;
}

.serve {
}

.mobile.action.wrapper {
  text-align: center;
  padding: 0.5em;
}

.mobile.action.wrapper > * {
  margin-bottom: 1em;
}

.blank {
  padding: 0.5em !important;
}
